#DOMNodesTree_app_container {
  ul {
    margin-left: 5px;
    padding-left: 20px;
    border-left: 1px dashed #eee;
    li {
      list-style-type: none;
      margin-bottom: 5px;
      div {
        padding-left: 10px
      }
    }
  }
  input {
    width: 100%;
    border: 1px solid #eee !important;
    padding: 15px;
  }
}

#Modal_app {
  &>div {
    background: rgba(0, 0, 0, 0.6705882352941176)
  }
}
