::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

* {
  padding: 1px;
}

html,
body,
#app,
section {
  height: 100%;
  top: 0;
  bottom: 0;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: unset !important;
}

#app {
  height: 2000px;
}

div,
p,
span {
  cursor: pointer;
}

section>div {
  //touch-action: none;
  /* This makes things *much* easier */
  //box-sizing: border-box;
  padding: 3px;
  border: 1px solid #eee;
  min-height: 20px !important;
  height: auto;
}
