<!--=============
INFO
=================
This componenet is responsible for storing and getting aliases,
alises belongs to some common classNames that are used frequently, 
the user must select the target and press Ctrl+A+S in order to save the className 
with a specific aliase
==============-->

<template>
  <div ref="aliasesContainer" class="hidden" id="Aliases_app">
    <div class="bg-white shadow border-l border-grey-light w-64 fixed p-5 pb-16 pin-t pin-r pin-b">
      
      <div class="flex">
        <div class="w-full">
          <h1 class="font-bold text-grey-darkest text-xl">Aliases</h1>
        </div>
        <div @click="$refs.aliasesContainer.className = 'hidden'" class="w-auto pt-2 pr-1">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="mt-5 w-full h-full border border-grey-light rounded">
        <ul class="list-reset h-full w-full overflow-y-scroll">
          <li :key="aliase.aliaseName" v-for="aliase in aliases" class="p-3 border-b border-grey-light hover:bg-grey-lightest flex">
            <div @click="$emit('setClassName', aliase.className)" class="w-full">
              {{ aliase.aliaseName }}
            </div>
            <div class="hover:cursor" @click="removeAliase(aliase.aliaseName)">
              <i class="fas fa-trash-alt"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import hotkeys from "hotkeys-js";

export default {
  props: ["target"],

  data() {
    return {
      // contains aliases for classNames
      aliases: []
    };
  },

  mounted() {
    try {
      if (localStorage.getItem("aliases")) {
        this.aliases = localStorage.getItem("aliases");
        this.aliases = JSON.parse(this.aliases);
      }
    } catch (error) {
      //
    }

    hotkeys("ctrl+a", e => {
      e.preventDefault();

      let aliaseName = prompt(
        `Enter Aliase for this class: ${this.target.className}`,
        ""
      );
      if (aliaseName.length) {
        this.aliases.push({
          aliaseName,
          className: this.target.className
        });
        /**
         * Note:
         * Aliases Watcher will save the aliases
         */
      }
    });
  },

  watch: {
    aliases: {
      handler: function(newVal, oldVal) {
        localStorage.setItem("aliases", JSON.stringify(this.aliases));
      },
      deep: true
    }
  },

  methods: {
    /**
     * removes an aliase
     * @param aliaseName
     */
    removeAliase(aliaseName) {
      for (let i = 0; i < this.aliases.length; i++) {
        if (this.aliases[i].aliaseName == aliaseName) {
          this.aliases.splice(i, 1);
        }
      }
    }
  }
};
</script>





