<template>
  <div id="DOMNodesTree_app_container" v-show="open" class="bg-blue-darkest fixed pin w-full h-full">
    <button @click="close()" class="bg-blue-darker text-white fixed pin-r pin-t mt-3 mr-3 rounded-full p-3"> close </button> 
    <div id="DOMNodesTree_app" class="h-screen overflow-scroll mt-16">
      
    </div>
  </div>
</template>

<script>
export default {
  props: ["open", "element"],

  mounted() {},

  data() {
    return {
      // used to give each node in the tree an ID
      // that ID will be pushed into elementsArray
      trackID: 0,

      // contains all the elements that are listed in the tree
      // this will be useful to track tree nodes
      elementsArray: []
    };
  },

  watch: {
    open(old) {
      if (this.open == true) {
        this.createTree(this.element, null);
      }
    }
  },

  methods: {
    /**
     * close that div by switching open to false
     */
    close() {
      this.$emit("close");
    },

    /**
     * create html list
     * @return {object} html list
     */
    createLi() {
      return document.createElement("li");
    },

    /**
     * create graphic node in order to represent DOM elements
     * @param {object} element html node element
     * @return {object} html element
     */
    createNode(element) {
      let flexDiv = document.createElement("div");
      let child1Div = document.createElement("div");
      let child2Div = document.createElement("div");

      // append classNames
      flexDiv.className =
        "flex bg-white shadow border border-grey-light rounded";
      child1Div.className = "w-1/6";
      child1Div.id = "holdContextMenu";
      child2Div.className = "w-5/6";

      child1Div.textContent = element.tagName;
      let input = document.createElement("input");
      input.setAttribute("value", element.className);
      input.setAttribute("type", "text");
      input.setAttribute("id", this.trackID);

      /**
       * @todo why input.onchange does not work
       */
      window.addEventListener("click", e => {
        if (e.target.id == input.id) {
          e.target.onchange = event => {
            element.className = e.target.value;
          };
        }
      });

      child1Div.setAttribute("id", this.trackID);
      this.elementsArray.push({
        trackID: this.trackID,
        element
      });
      this.trackID++;

      child2Div.appendChild(input);

      flexDiv.appendChild(child1Div);
      flexDiv.appendChild(child2Div);

      return flexDiv;
    },

    /**
     * create html ul
     * @return {object} html element
     */
    createUl() {
      return document.createElement("ul");
    },

    /**
     * recursive method to create a graphic tree represents the descendants of a given element
     * @param {object} element target (element) to be converted into a graphic tree with its descendants
     * @param {null} ul make this to 'null'
     */
    createTree(element, ul) {
      let ul_1 = ul;

      // if the ul is null
      if (!ul_1) {
        ul_1 = this.createUl();
      }

      let li = this.createLi();
      if (element.tagName) li.appendChild(this.createNode(element));

      let ul_2;
      if (element.childNodes.length) {
        // put ul after the button inside the li
        ul_2 = this.createUl();

        element.childNodes.forEach(child => {
          let li = this.createLi();
          if (child.tagName) li.appendChild(this.createNode(child));

          if (child.childNodes.length) this.createTree(child, ul_2);
          else ul_2.appendChild(li);
        });
        li.appendChild(ul_2);
      }
      ul_1.appendChild(li);

      document.getElementById("DOMNodesTree_app").innerHTML = ul_1.outerHTML;
    }
  }
};
</script>
