<template>
  
  <div id="LeftSideBar_app">
    <div class="bg-white w-10 fixed pin-l pin-b h-full py-2 px-0 border border-grey-light">
      <ul class="list-reset">
        
        <li ref="componentsMenu" id="componentsMenu" class="py-3 px-2 border-b border-grey-lightest">
          <div><i class="fas fa-plus"></i></div>
          <NestedDropDown :lists="components" 
          @insertComponent="$emit('insertComponent',$event)"/>

        </li>

      </ul>
    </div>
  </div>

</template>

<script>
import NestedDropDown from "./NestedDropDown";
import components from "./tailwindComponents";

export default {
  components: {
    NestedDropDown
  },
  data() {
    return {
      components
    };
  },
  mounted() {}
};
</script>
