<template>

  <div ref="Modal" class="hidden" id="Modal_app">
    <div class="w-full absolute z-30 h-full pin">

      <div class="mx-auto mt-32 container lg:w-1/3 bg-white rounded px-8 py-6 flex-wrap">

        <div @click="$emit('open','Aliases_app');$refs.Modal.className = 'hidden'" class="w-1/4 text-bold text-grey-darker text-center px-4 py-2 border border-grey-light rounded">
          Aliases
        </div>

      </div>

    </div>
  </div>
  
</template>

<script>
import hotkeys from "hotkeys-js";

export default {
  mounted() {
    hotkeys("tab", e => {
      e.preventDefault();
      if (this.$refs.Modal.className.length) this.$refs.Modal.className = "";
      else this.$refs.Modal.className = "hidden";
    });
  }
};
</script>
