<template>

  <div id="NestedDropDown_app" class="bg-white w-32 p-0 border border-grey-light absolute pin-t">
    <div id="menuRow" :key="lists.indexOf(list)" v-for="list in lists" class="py-2 px-2 border-b border-grey-light relative">

      <div @click="$emit('insertComponent', list.template)">{{ list.text }}</div>
      <NestedDropDown @insertComponent="$emit('insertComponent',$event)" v-if="list.menu && list.menu.length" :lists="list.menu" /> 

    </div>
  </div>

</template>

<script>
export default {
  name: "NestedDropDown",
  props: ["lists"]
};
</script>

<style lang="scss">
#menuRow:last-child {
  border: none;
}

#menuRow {
  &:hover #NestedDropDown_app {
    display: block;
  }
}

#NestedDropDown_app {
  margin-top: -9px;
  margin-left: 110px;
  display: none;
}

#componentsMenu {
  & > #NestedDropDown_app {
    margin-top: -1px;
    margin-left: 29px;
  }
  &:hover > #NestedDropDown_app {
    display: block;
  }
}
</style>
