<template>
  <div id="app" class="pl-10">

    <DOMNodesTree  
      :open="DOMNodesTree.open" 
      :element="DOMNodesTree.element" 
      @close="DOMNodesTree.open = false"/>

    <Aliases
      :target="oneSelectedDomTarget" 
      @setClassName="oneSelectedDomTarget.className = $event" />

    <Modal 
      @open="docElemById($event).className = ''"/>

    <LeftSideBar @insertComponent="insertComponent($event)"/>

    <section id="section"></section>

  </div>
</template>

<script>
import DOMNodesTree from "~/components/DOMNodesTree.vue";
import Aliases from "~/components/Aliases.vue";
import Modal from "~/components/Modal.vue";
import LeftSideBar from "~/components/LeftSideBar.vue";
import tailwindComponents from "~/components/tailwindComponents";
import hotkeys from "hotkeys-js";

export default {
  components: {
    DOMNodesTree,
    Aliases,
    Modal,
    LeftSideBar
  },

  head: {
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" }
    ],
    link: [
      {
        rel: "stylesheet",
        href: "/main.css"
      },

      {
        rel: "stylesheet",
        href: "/contextMenu/style.css"
      }
    ],

    script: [
      {
        src: "/contextMenu/jquery.js"
      },
      {
        src: "/contextMenu/index.js"
      }
    ]
  },

  data() {
    return {
      // used in order to detect wich DOM element is selected
      oneSelectedDomTarget: null,

      html: {
        tags: {
          blocks: {
            menu: {
              div: {},
              table: {},
              "ul/ol": {
                menu: {
                  ul: {},
                  ol: {}
                }
              },
              li: { textable: true },
              section: {},
              nav: {},
              article: {},
              figure: {}
            }
          },
          text: {
            menu: {
              "h1-h6": {
                menu: {
                  h1: { textable: true },
                  h2: { textable: true },
                  h3: { textable: true },
                  h4: { textable: true },
                  h5: { textable: true },
                  h6: { textable: true }
                }
              },
              p: { textable: true },
              span: { textable: true },
              b: { textable: true },
              blockquote: { textable: true },
              pre: { textable: true },
              a: {
                attr: ["href"],
                textable: true
              }
            }
          },
          button: { textable: true },
          form: {
            attr: ["action", "method"],
            menu: {
              input: {
                attr: ["type", "value"]
              },
              select: {
                menu: {
                  option: {
                    attr: ["value"],
                    textable: true
                  }
                }
              },
              textarea: {}
            }
          },
          "br/hr": {
            menu: {
              br: {},
              hr: {}
            }
          },
          img: {
            attr: ["src"]
          },
          media: {
            menu: {
              video: {},
              audio: {},
              iframe: {},
              object: {}
            }
          }
        }
      },

      // current target to be resized or moved
      target: null,

      tailwindRules: {
        units: [
          "0",
          "px",
          "1",
          "2",
          "3",
          "4",
          "5",
          "6",
          "8",
          "10",
          "12",
          "16",
          "20",
          "24",
          "32"
        ],
        directions: ["t", "r", "b", "l"]
      },

      // list of allowed elements to be resized
      resizableElements: ["div", "button"],

      // elements that can be resized without restriction
      resiableWithZeroRestriction: ["button"],

      DOMNodesTree: {
        open: false,
        element: null
      }
    };
  },

  mounted() {
    //this.watchSelectedDOMElements();
    this.addEventListenerToDocument();

    this.initContextMenu();

    this.dbClick();

    this.localStorageHandler();
  },

  methods: {
    /**
     * @return document.getElementById(id)
     */
    docElemById(id) {
      return document.getElementById(id);
    },

    /**
     * handles storing html in localStorage
     */
    localStorageHandler() {
      let createdHTML = localStorage.getItem("created-html");

      try {
        createdHTML = JSON.parse(createdHTML);
      } catch (error) {
        localStorage.removeItem("created-html");
      }

      if (createdHTML && createdHTML.html && createdHTML.className) {
        document.getElementById("section").innerHTML = createdHTML.html;
        document.getElementById("section").className = createdHTML.className;
      }

      function storeSectionInnerHTML() {
        localStorage.setItem(
          "created-html",
          JSON.stringify({
            className: document.getElementById("section").className,
            html: document.getElementById("section").innerHTML
          })
        );
      }

      hotkeys("ctrl+s", e => {
        e.preventDefault();
        storeSectionInnerHTML();
      });

      hotkeys("ctrl+c", () => {
        localStorage.setItem("copied-element", this.target.outerHTML);
      });

      hotkeys("ctrl+v", () => {
        this.insertComponent(localStorage.getItem("copied-element"));
        storeSectionInnerHTML();
      });
    },

    /**
     * listens to multiple key presses
     */
    multipleKeyPress(first, second, callback) {
      let firstKey = null;

      window.onkeydown = e => {
        e.preventDefault();
        if (e.key == first) {
          firstKey = e.key;
        }

        if (firstKey && e.key == second) {
          return callback();
        }
      };

      window.onkeyup = e => {
        e.preventDefault();
        if (e.key == first) {
          firstKey = null;
        }
      };
    },

    /**
     * listen to dbclick event
     */
    dbClick() {
      document.getElementById("section").addEventListener("dblclick", e => {
        let newClass = prompt("Update Class", e.target.className);

        if (newClass) e.target.className = newClass;
      });
    },

    /**
     * Generates HTML table
     * @param {int} x rows
     * @param {int} y columns
     * @return HTML Table (DOM)
     */
    tableGenerator(x, y, className) {
      let table = document.createElement("table");
      let thead = document.createElement("thead");
      let tbody = document.createElement("tbody");

      /**
       * create tr and th
       */
      function createTrTh(x) {
        let tr = document.createElement("tr");
        for (let i = 0; i < x; i++) {
          let th = document.createElement("th");
          th.textContent = `TH ${i}`;
          tr.appendChild(th);
        }
        return tr;
      }

      thead.appendChild(createTrTh(x));

      /**
       * create tr and td
       */
      function createTrTd(x) {
        let tr = document.createElement("tr");
        for (let i = 0; i < x; i++) {
          let td = document.createElement("td");
          td.textContent = `TD ${i}`;
          tr.appendChild(td);
        }
        return tr;
      }

      for (let i = 0; i < y; i++) {
        tbody.appendChild(createTrTd(x));
      }

      // append tbody
      table.appendChild(thead);
      table.appendChild(tbody);
      // asign class name
      table.className = className;

      return table;
    },

    /**
     * WARNING: this method must be used along side with create method
     * creates complex elements: form, (ul/ol & li), table
     * @param {string} elem element name
     * @param {object} element DOM element
     */
    completeCreatingComplexElements(elem, element) {
      // precise the target
      let target =
        this.oneSelectedDomTarget != null
          ? this.oneSelectedDomTarget
          : document.getElementById("section");

      if (elem == "table") {
        let x = parseInt(prompt("number of rows: ", 1));
        let y = parseInt(prompt("number of columns: ", 1));

        // replace element
        element = this.tableGenerator(x, y, element.className);
      } else if (elem == "ul" || elem == "ol") {
        let li = document.createElement("li");
        li.textContent = "Demo list content.";

        // ul tag has been created in the create() method
        element.appendChild(li);
      } else if (elem == "form") {
      }

      // append to body
      target.appendChild(element);
    },

    /**
     * creates DOM element
     * @param {string} elem contains the tagName in lower case
     * @param {array} attr contains array of attributes
     */
    create(elem, rulesObject) {
      // to lower case
      elem = elem.toLocaleLowerCase();

      let element = document.createElement(elem);

      // prompt class
      let classname = prompt("insert class", "");

      if (rulesObject) {
        // insert textContent
        if (rulesObject.textable) {
          element.textContent = prompt("insert some text", "demo text");
        }

        // prompt attributes
        if (rulesObject.attr && rulesObject.attr.length) {
          rulesObject.attr.forEach(attr => {
            element.setAttribute(attr, prompt(`insert ${attr}: `, ""));
          });
        }
      }

      // asign class to element
      element.className = classname;

      if (["form", "ul", "ol", "li", "table"].includes(elem)) {
        return this.completeCreatingComplexElements(elem, element);
      }

      // put the created element inside the selected parent
      let target =
        this.oneSelectedDomTarget != null
          ? this.oneSelectedDomTarget
          : document.getElementById("section");

      // append to body
      target.appendChild(element);

      localStorage.setItem(
        "created-html",
        document.getElementById("section").innerHTML
      );
    },

    /**
     * inserts Bulma built-in components
     * @param {string} componentName
     */
    insertComponent(outerHTML) {
      console.log(outerHTML);
      // to lower case
      //componentName = componentName.toLowerCase();

      // get HTML
      /**
       * @param {String} HTML representing a single element
       * @return {Element}
       */
      let htmlToElement = html => {
        var template = document.createElement("template");
        html = html.trim(); // Never return a text node of whitespace as the result
        template.innerHTML = html;
        return template.content.firstChild;
      };

      //let element = htmlToElement(this.components.bulma[componentName]);
      let element = htmlToElement(outerHTML);

      // remove outline styling
      element.style.outline = "none";

      // push html
      // put the created element inside the selected parent
      let target =
        this.oneSelectedDomTarget != null
          ? this.oneSelectedDomTarget
          : document.getElementById("section");

      // append to body
      target.appendChild(element);
    },

    /**
     * adds event listener to document
     */
    addEventListenerToDocument() {
      document.getElementById("section").addEventListener("click", event => {
        this.target = event.target;

        if (this.target != this.oneSelectedDomTarget) {
          // blur the previous selected target
          if (this.oneSelectedDomTarget != null) {
            this.oneSelectedDomTarget.style.outline = "none";
            /* this.oneSelectedDomTarget.style.resize = "none";
            this.oneSelectedDomTarget.style.overflow = "none"; */
          }

          // focus on the new target
          this.oneSelectedDomTarget = this.target;
          this.target.style.outline = `1px solid #000`;

          if (
            this.resizableElements.includes(event.target.tagName.toLowerCase())
          ) {
            /* this.target.style.resize = "vertical";
            this.target.style.overflow = "auto"; */
          }

          // moving element using margins
          /* window.addEventListener("keydown", e => {
            e.preventDefault();
            this.changeMargins(e.key, this.target);
          }); */
        }
      });
    },

    /**
     * change margins of given DOM element
     */
    changeMargins(key, target) {
      return alert("Not working now...");
      // will contains the current attacked margin e.g: marginTop
      let margin = "";
      // will contain the action (increase, decrease)
      let action = "";

      switch (key) {
        case "ArrowUp":
          margin = "mt-";
          action = "decrease";
          break;
        case "ArrowDown":
          margin = "mt-";
          action = "increase";
          break;
        case "ArrowLeft":
          margin = "mr-";
          break;
        case "ArrowRight":
          margin = "ml-";
          break;
        default:
          return;
      }

      /* // get margin value
      let marginValue = target.style[margin];

      // convert marginValue to Number
      // 1- remove css units from string
      marginValue = marginValue.replace("px", "");
      marginValue = Number(marginValue);
      // increase/ decrease marginValue value
      if (action == "increase") marginValue += 1;
      else marginValue -= 1;

      target.style[margin] = marginValue + "px"; */

      /**
       * NOTE:
       * I am using tailwind syntax for margins..etc
       */

      // contains all margins eg: 'mt-px..etc'
      let margins = [];

      this.tailwindRules.units.forEach(unit => {
        margins.push(`${margin}${unit}`);
      });

      // get current margin eg. mt-5
      let currentMargin = _.intersection(target.className.split(" "), margins);

      // get current margin index in units
      // replace used to remove prefix: mt, ml..etc
      let index;
      if (currentMargin[0]) {
        index = this.tailwindRules.units.indexOf(
          currentMargin[0].replace(margin, "")
        );

        // replace the current margin with the next margin in the unit array
        // e.g: replace mt-1 with mt-2
        if (this.tailwindRules.units[index + 1]) {
          target.className = target.className.replace(
            currentMargin,
            `${margin}${this.tailwindRules.units[index + 1]}`
          );
        }
      } else {
        index = 0;
        // replace the current margin with the next margin in the unit array
        // e.g: replace mt-1 with mt-2
        target.className = target.className += `${margin}${
          this.tailwindRules.units[index + 1]
        }`;
      }
    },

    /**
     * makes DOM elements dragable and resisable
     * @param {object} target
     */
    useInteractJs(target) {
      // contains the target name in lower case
      let targetName = event.target.tagName.toLowerCase();

      interact(event.target)
        .draggable({
          onmove: window.dragMoveListener,
          restrict: {
            restriction: "parent",
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          }
        })
        .resizable({
          // resize from all edges and corners
          edges: {
            left: this.resiableWithZeroRestriction.includes(targetName),
            right: this.resiableWithZeroRestriction.includes(targetName),
            bottom: true,
            top: true
          },

          // keep the edges inside the parent
          restrictEdges: {
            outer: "parent",
            endOnly: true
          },

          // minimum size
          restrictSize: {
            min: { width: 100, height: 5 }
          },

          inertia: true
        })
        .on("resizemove", event => {
          var target = event.target,
            x = parseFloat(target.getAttribute("data-x")) || 0,
            y = parseFloat(target.getAttribute("data-y")) || 0;

          // update the element's style
          if (this.resiableWithZeroRestriction.includes(targetName))
            target.style.width = event.rect.width + "px";
          target.style.height = event.rect.height + "px";

          // translate when resizing from top or left edges
          x += event.deltaRect.left;
          y += event.deltaRect.top;

          target.style.webkitTransform = target.style.transform =
            "translate(" + x + "px," + y + "px)";

          target.setAttribute("data-x", x);
          target.setAttribute("data-y", y);
          //target.textContent = Math.round(event.rect.width) + '\u00D7' + Math.round(event.rect.height);
        });
    },

    /**
     * Creates custom right click menu (ContextMenu)
     */
    initContextMenu() {
      context.init({
        fadeSpeed: 100,
        filter: function($obj) {},
        above: "auto",
        preventDoubleContext: true,
        compress: false
      });

      let menu = [
        {
          text: "remove",
          action: e => {
            e.preventDefault();

            this.target.remove();
          }
        },

        {
          text: "div details",
          action: e => {
            e.preventDefault();

            // remove the previous details-tooltips
            let allTooltips = document.querySelectorAll(".details-tooltip");

            for (let i = 0; i < allTooltips.length; i++) {
              allTooltips[i].remove();
            }

            // we want to select all divs under the target
            let allDivs = this.target.querySelectorAll("div");

            // insert span contains details to those divs
            for (let i = 0; i < allDivs.length; i++) {
              let span = document.createElement("span");
              span.setAttribute("class", "details-tooltip bg-blue-light p-2");
              span.textContent = allDivs[i].className || allDivs[i].id;
              allDivs[i].appendChild(span);
            }
          }
        },
        {
          text: "export HTML/CSS",
          action: e => {
            e.preventDefault();
            let HTMLExporter = require("@/module/exportHTML&CSS");
            let html = HTMLExporter.default(document.getElementById("app"));

            let htmlPage = `<!DOCTYPE html>
              <html lang="en">
              <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
                <title>Document</title>
              </head>
              <body>
                ${html}
              </body>
              </html>`;

            this.download("page.html", htmlPage);
          }
        },

        {
          text: "Nodes Tree",
          action: e => {
            e.preventDefault();
            this.DOMNodesTree.element = this.target;
            this.DOMNodesTree.open = true;
          }
        }
      ];

      menu = menu.concat(this.createMenu(this.html.tags));

      context.destroy("DOMNodesTree_app_container");
      context.attach("section", menu);
    },

    createMenu(rulesObject) {
      // contains contextMenu array
      let menu = [];

      let keys = Object.keys(rulesObject);
      keys.forEach(key => {
        if (!rulesObject[key].menu) {
          menu.push({
            text: key,
            action: e => {
              e.preventDefault();
              this.create(key, rulesObject[key]);
            }
          });
        } else {
          menu.push({
            text: key,
            subMenu: this.createMenu(rulesObject[key].menu)
          });
        }
      });

      return menu;
    },

    download(filename, text) {
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);

      element.style.display = "none";
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }
  }
};
</script>

