<template>
  <div id="app" class="palette-container">

    <fieldset class="px-3 pb-4">
      <legend>Colors</legend>

      <div class="relative">
        <button id="dropdown-button" class="w-full bg-grey-lightest px-5 py-2 rounded text-grey-darker">
          color
        </button>
        <div id="dropdown-child" class="bg-white rounded hidden shadow-md absolute mt-8 pin-t pin-l min-w-full">
            <div class="background-palette-container">

                <div id="colored" class="text-white bg-black px-3 py-2" >text-white</div>

                <div :key="color" v-for="color in  ['grey','blue','indigo','purple','green','yellow','red','orange']" class="border-b-1 border-grey-light bg-white">
                  <div :key="opacity" v-for="opacity in ['lightest','light','base','dark','darker','darkest']">
                    <div id="colored" :class="`text-${color}-${opacity} ${opacity.includes('lightest') ? `bg-${color}-base` : ''} px-3 py-2`">text-{{color}}-{{opacity}}</div>
                  </div>
                </div>

            </div>
        </div>
      </div>

      <div class="relative">
        <button id="dropdown-button" class="w-full bg-grey-lightest mt-1 px-5 py-2 rounded text-grey-darker">
          background-color
        </button>
        <div id="dropdown-child" class="bg-white rounded hidden shadow-md absolute mt-8 pin-t pin-l min-w-full">
          <div class="background-palette-container border-t border-b border-grey-light relative">
            <div class="overflow-y-auto">

              <div class="flex border-t-2 border-b-2 bg-grey-lightest border-grey-dark py-2 mb-3">
                <div class="w-2/3 font-bold text-sm text-grey-dark px-2">class</div>
                <div class="w-1/3 font-bold text-sm text-grey-dark px-2">color</div>
              </div>

              <div>
                <div class="flex py-0 hover:bg-indigo-lightest" :key="color" v-for="color in ['transparent','white','black']">
                  <div :class='`w-2/3 p-2  font-mono text-xs text-purple whitespace-no-wrap`'>.bg-{{ color }}</div>
                  <div :class="`w-1/3 w-16 p-2 font-mono text-xs text-${color} whitespace-pre bg-${color}`"></div>
                </div>
              </div>

              <div :key="color" v-for="color in  ['grey','red','orange','yellow','green','teal','blue','indigo','purple','pink']">
                <div class="flex py-0 hover:bg-indigo-lightest" :key="opacity" v-for="opacity in ['darkest','darker','dark','','light','lightest']">
                  <div v-if="opacity.length" :class='`w-2/3 p-2  font-mono text-xs text-purple whitespace-no-wrap`'>.bg-{{ color }}-{{ opacity }}</div>
                  <div v-else :class='`w-2/3 p-2  font-mono text-xs text-purple whitespace-no-wrap`'>.bg-{{ color }}</div>

                  <div v-if="opacity.length" :class="`w-1/3 w-16 p-2 font-mono text-xs text-${color}-${opacity} whitespace-pre bg-${color}-${opacity}`"></div>
                  <div v-else :class="`w-1/3 w-16 p-2 font-mono text-xs text-${color} whitespace-pre bg-${color}`"></div>
                </div>
              </div> 

            </div>
          </div>
        </div>
      </div>
    </fieldset>
    
  </div>
</template>

<script>
export default {
  data() {
    return {
      opacityOpposits: {
        lightest: "darkest",
        light: "darker",
        base: "dark",
        dark: "base",
        darker: "light",
        darkest: "lightest"
      },

      // created class e.g: 'bg-white text-grey'
      className: ""
    };
  },

  mounted() {},

  methods: {
    /**
     * toggle an element using style.display (none/ block)
     * @param {DOM} element DOM element
     */
    toggle(element) {
      if (element.style.display != "block") element.style.display = "block";
      else element.style.display = "none";
    }
  }
};
</script>

<style>
.palette-container {
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  border-left: 1px solid #ccc;
}

fieldset {
  padding: 5px;
  border: 1px solid #ccc;
}

legend {
  color: #ccc;
  font-weight: bold;
  padding: 0px 10px;
}

.background-palette-container {
  height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#dropdown-button:hover + #dropdown-child,
#dropdown-child:hover {
  display: block;
  z-index: 999;
}

#colored:hover {
  background: #eee;
}
</style>

